<!DOCTYPE html>
<html lang="en">
<head>
    <title>Owl Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75,500;1,75,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>


<div class="navbar">
    <a href="#">Home</a>
    <a href="#">Saved</a>
    <a href="#">About Us</a>
</div>


<header class="roboto-font">
    <img src="images/logo.png" alt="logo with background" class="logo"/>
    <div class="search">
        <input type="text" class="search_input" placeholder="Search...">
        <button class="search_button">
            <i class="fas fa-search"></i>
        </button>
    </div>
</header>


<div class="catalog-container">
    <div class="card">
        <h3>Special Theory of Relativity</h3>
        <p>A physical theory by Albert Einstein (1905) that revolutionized the concepts of space and time, introducing the constancy of the speed of light and the relativity of simultaneity.</p>
        <p>Theoretical Physics</p>
        <a href="#">View Details</a>
    </div>
    <div class="card">
        <h3>Newton's Law of Universal Gravitation</h3>
        <p>Isaac Newton's (1687) law stating that every mass attracts every other mass with a force proportional to their masses and inversely proportional to the square of their distance.</p>
        <p>Classical Mechanics</p>
        <a href="#">View Details</a>
    </div>

    </div>

</div>

</body>
</html>
